<div class="session_wrapper">
  <% breadcrumb :login %>
  <%= render "shared/breadcrumbs" %>
  <div class="session_wrapper__header">
    <h3>ログイン</h3>
  </div>
  <div class="session_wrapper__content">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <span class="label label-danger">必須</span>
      <%= f.label :email, "メールアドレス"  %>
      <%= f.email_field :email, class: 'form-control' %>

      <span class="label label-danger">必須</span>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <p>未登録の方はこちら！<%= link_to "ユーザ登録", signup_path %></p>
  </div>
</div>