<div class="user_wrapper">
  <% breadcrumb :user_new %>
  <%= render "shared/breadcrumbs" %>
  <div class="user_wrapper__header">
    <h3>ユーザ登録</h3>
  </div>
  <div class="user_wrapper__content">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "name(名前)" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "email(メールアドレス)" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :introduction, "introduction(自己紹介文、任意)" %>
      <%= f.text_area :introduction, class: 'form-control' %>

      <%= f.label :password, "password(パスワード)" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "password_confirmation(パスワード確認)" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "登録確定", class: "btn btn-primary" %>
      <span class="image">
        <%= f.file_field :image %>
      </span>
    <% end %>
  </div>
</div>