<div class="comment_area">
  <ul class="comment_area__list">
    <% @comments.each do |comment| %>
      <li class="comment_area__list__comment">
        <div class="comment_area__list__comment__left_box">
          <span><%= comment.user.name %></span>
        </div>
        <div class="comment_area__list__comment__right_box">
          <div class="comment_area__list__comment__right_box__info">
            <% if logged_in? && comment.user_id == current_user.id %>
              <span><%= link_to "編集", edit_post_comment_path(@post.id, comment.id) %></span>
              <span><%= link_to "削除", post_comment_path(@post, comment), method: :delete, data: { confirm: '本当に削除して良いですか?', cancel: 'やめる', commit: '削除する'}, title: '削除確認' %></span>
            <% end %>
            <span>投稿日時：<%= comment.created_at.to_s(:datetime_jp) %></span>
          </div>
          <div class="comment_area__list__comment__right_box__text">
            <span><%= comment.comment %></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <% if logged_in? %>
    <div class="comment_area__form_box">
      <%= form_with(model:[@post, @comment], class: "comment_area__form_box__form", local: true) do |f| %>
        <%= render 'shared/comment_messages', object: f.object %>
        <div class="comment_area__form_box__form__field">
          <%= f.text_area :comment, placeholder: 'コメントを入力', value: @comment.comment %>
        </div>
        <div class="comment_area__form_box__form__action">
          <%= f.submit "送信", class: "comment_area__form_box__form__action__btn" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>