<h1 class="title">掲示板</h1>
<% if logged_in? %>
  <%= link_to "投稿", new_post_path, class: "btn btn-lg btn-primary
    btn-indent-top-second btn-size btn-fixed-insert" %>
<% end %>
<div class="post_wrapper">
  <div class="post_wrapper__content">
    <ul class="post_wrapper__content__post_list">
      <% if @posts.count == 0 %>
        <li>「まだ投稿されたスレッドはありません。」</li>
      <% else %>
        <% @posts.each do |post| %>
          <li>
            <div class="post">
              <%= link_to post_path(post.id) ,class:"post-link" do%>
                <div class="post__top_box">
                  <div class="post__top_box__name">
                    <span>投稿者：<%= post.user.name %></span>
                  </div>
                  <div class="post__top_box__time">
                    <span>投稿日時：<%= post.created_at.to_s(:datetime_jp) %></span>
                  </div>
                </div>  
                <div class="post__middle_box">
                  <span><%= post.content %></span>
                </div>
                <div class="post__bottom_box">
                  <ul class="post__bottom_box__user_actions">
                    <li>
                      <i class="far fa-comment-alt"></i>
                      <span><%= post.comments.count %></span>
                    </li>
                    <li>
                      <i class="far fa-heart"></i>
                      <span>1</span>
                    </li>
                  </ul>
                  <% if logged_in? && post.user_id == current_user.id %>
                    <ul class="post__bottom_box__admin_actions">
                      <li><%= link_to "編集", edit_post_path(post.id) %></li>
                      <li><%= link_to "削除", post, method: :delete, data: { confirm: '本当に削除して良いですか?', cancel: 'やめる', commit: '削除する'}, title: '削除確認' %>
                    </ul>
                  <% end %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>