<!DOCTYPE html>
<html>
  <head>
    <title>未経験から始めるテニス</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
